@import url('https://fonts.googleapis.com/css?family=Courier+Prime:100,200,300,400,500');


/*--------------Logo-----------------------------------*/

.logo{
    background: url("../images/murfit-logo-2.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
    margin: 10px 10px 10px 10px;
}

/*--------------NavBar-----------------------------------*/

#navbar{
   font-family: 'Courier' , sans-serif;
   font-size: 20px;
   text-transform: uppercase; 
   text-align: center;
    margin-top: 12px;
    font-size: 30px;
}

#navbar a {
    color: #EE8E2D;
    text-decoration: none;
}

.navbar-toggler{
    margin-right: 25px;
}

#navbarNavDropdown{
    position: center;
}

#tag-line-nav{
    font-family: 'Courier' , sans-serif;
    margin-top: 25px;
    font-size: 20px;
    text-align: right;  
}
#tag-line-nav a {
 text-decoration: none;
 color: #EE8E2D;
}


/*--------------Footer-----------------------------------*/

#footer{
    text-align: center;
    margin-top: 60px;
    padding: 0;
}

#footer a {
    color: #EE8E2D;
}

#tag-line-footer{
    font-family: 'Courier' , sans-serif;
    margin-top: 12px;
    font-size: 20px;
    text-align: right;
    
   
}
#tag-line-footer a {
 text-decoration: none;
  margin-top: 55px;
  padding-right: 5px;
  color: #EE8E2D;
}