@import url('https://fonts.googleapis.com/css?family=Courier+Prime:100,200,300,400,500');

.logo{
    background: url("../images/murfit-logo-2.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 150px;
}



.navbar-text{
    margin-top: 16px;
}